{
  "cleanupTimer": 5,
  "defaultDuration": 1440,
  "defaultUses": 1,
  "foreverDuration": 525600,
  "debug": false,
  "database": "database.sqlite3",
  "overlayDirectory": "overlays",
  "fallbackDomain": "discord.gg",
  "captionFont": "DejaVu Sans Mono",
  "devGuild": "",
  "discord": {
    "token": "<Discord Bot Token>"
  }
}
